# Exercise 1

In [97]:
import pandas as pd
import numpy as np

In [98]:
# Dataset:
x = [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5]
y1 = [8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.82, 5.68]
y2 = [9.14, 8.14, 8.74, 8.77, 9.26, 8.10, 6.13, 3.10, 9.13, 7.26, 4.74]
y3 = [7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73]
x4 = [8, 8, 8, 8, 8, 8, 8, 19, 8, 8, 8]
y4 = [6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.50, 5.56, 7.91, 6.89]
 
# Calculate: 
# - mean, 
# - standard deviation, 
# - correlation coefficient (Pearson)
# - variance ?

In [134]:
df = pd.DataFrame({
    'x' : [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5],
    'y1' : [8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.82, 5.68],
    'y2' : [9.14, 8.14, 8.74, 8.77, 9.26, 8.10, 6.13, 3.10, 9.13, 7.26, 4.74],
    'y3' : [7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73],
    'x4' : [8, 8, 8, 8, 8, 8, 8, 19, 8, 8, 8],
    'y4' : [6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.50, 5.56, 7.91, 6.89]  
})

df

     x     y1    y2     y3  x4     y4
0   10   8.04  9.14   7.46   8   6.58
1    8   6.95  8.14   6.77   8   5.76
2   13   7.58  8.74  12.74   8   7.71
3    9   8.81  8.77   7.11   8   8.84
4   11   8.33  9.26   7.81   8   8.47
5   14   9.96  8.10   8.84   8   7.04
6    6   7.24  6.13   6.08   8   5.25
7    4   4.26  3.10   5.39  19  12.50
8   12  10.84  9.13   8.15   8   5.56
9    7   4.82  7.26   6.42   8   7.91
10   5   5.68  4.74   5.73   8   6.89

Mean:

In [138]:
df.mean()

x     9.000000
y1    7.500909
y2    7.500909
y3    7.500000
x4    9.000000
y4    7.500909
dtype: float64

Standard deviation:

In [140]:
df.std()

x     3.316625
y1    2.031568
y2    2.031657
y3    2.030424
x4    3.316625
y4    2.030579
dtype: float64

Correlation coefficient (Pearson):

In [141]:
df.corr()

           x        y1        y2        y3        x4        y4
x   1.000000  0.816421  0.816237  0.816287 -0.500000 -0.314047
y1  0.816421  1.000000  0.750005  0.468717 -0.529093 -0.489116
y2  0.816237  0.750005  1.000000  0.587919 -0.718437 -0.478095
y3  0.816287  0.468717  0.587919  1.000000 -0.344661 -0.155472
x4 -0.500000 -0.529093 -0.718437 -0.344661  1.000000  0.816521
y4 -0.314047 -0.489116 -0.478095 -0.155472  0.816521  1.000000

Variance:

In [142]:
df.var()

x     11.000000
y1     4.127269
y2     4.127629
y3     4.122620
x4    11.000000
y4     4.123249
dtype: float64