01. List manipulation

In [21]:
# a) Create a list with 5 fruit names
fruit_names = ['apple', 'cherry', 'banana', 'grapes', 'watermelon' ]

# b) Extend the fruit_names list with 2 vegatables
fruit_names.extend(['onion', 'tomato'])

# c) Shuffle the list
import random 
random.shuffle(fruit_names)

# d) Find the position of first vegetable
print(fruit_names[4])

# e) Remove one fruit
fruit_names.remove('apple')

# f) Print the result
print(fruit_names)

# g) Sort the list in alphabetical order
fruit_names.sort()

# h) Print each element of a list using a loop
for fruit in fruit_names:
  print(fruit)

# i) Modify above code to be ablet to repeat all above steps 
#    to get the same results each time

onion
['grapes', 'cherry', 'watermelon', 'onion', 'banana', 'tomato']
banana
cherry
grapes
onion
tomato
watermelon

02. Tuples

In [ ]:
first_list = ["a" + str(number) for number in range(1, 10)]
second_list = ["b" + str(number) for number in range(1, 10)]

# Pair up above lists
# paired_list = 

# Using a loop unpack the tuple into variables: first_el, secodn_el
# Print the pair position and variables using f-string.
# Example:
# "Index of a3 and b3 is equal 2"

3. Sets (unordered & unique data)

In [ ]:
fake_names_1 = ['Sherry', 'Mary', 'Matthew', 'Danielle', 'Jeffrey', 'Lauren', 
              'Keith', 'Carlos', 'Monique', 'Laura', 'Jared', 'Valerie', 'Juan', 
              'Christopher', 'Erica', 'Dawn', 'Joshua', 'Brandon', 'Stephanie']

fake_names_2 = ['Andre', 'Anthony', 'Lauren', 'Douglas', 'Jonathan', 'Richard', 
                'Alyssa', 'Vincent', 'Travis', 'Clifford', 'Jerry', 'Justin',
                'Matthew', 'Jared', 'Erica']

# Find the overlapping names in above lists

# Print number of "duplicated" names

# Find and print the union of above lists

# Find and print the difference between lists