01. List manipulation

In [ ]:
# a) Create a list with 5 fruit names
fruit_names = ['apple', 'cherry', 'banana', 'grapes', 'watermelon' ]

# b) Extend the fruit_names list with 2 vegatables
fruit_names.extend(['onion', 'tomato'])

# c) Shuffle the list
import random 
random.shuffle(fruit_names)

# d) Find the position of first vegetable
print(fruit_names[4])

# e) Remove one fruit
fruit_names.remove('apple')

# f) Print the result
print(fruit_names)

# g) Sort the list in alphabetical order
fruit_names.sort()

# h) Print each element of a list using a loop
for fruit in fruit_names:
  print(fruit)

# i) Modify above code to be ablet to repeat all above steps 
#    to get the same results each time

onion
['grapes', 'cherry', 'watermelon', 'onion', 'banana', 'tomato']
banana
cherry
grapes
onion
tomato
watermelon

02. Tuples

In [ ]:
first_list = ["a" + str(number) for number in range(1, 10)]
second_list = ["b" + str(number) for number in range(1, 10)]

# Pair up above lists
paired_list = first_list + second_list
print(paired_list)

# Using a loop unpack the tuple into variables: first_el, secodn_el
# Print the pair position and variables using f-string.
# Example:
# "Index of a3 and b3 is equal 2"

def convert(list):
  return tuple(list)

print(convert(first_list))
print(convert(second_list))

for i in range(len(first_list)):
  print(f"Index of {first_list[i]} and {second_list[i]} is egual {i}")

['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9']
('a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9')
('b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9')
Index of a1 and b1 is egual 0
Index of a2 and b2 is egual 1
Index of a3 and b3 is egual 2
Index of a4 and b4 is egual 3
Index of a5 and b5 is egual 4
Index of a6 and b6 is egual 5
Index of a7 and b7 is egual 6
Index of a8 and b8 is egual 7
Index of a9 and b9 is egual 8

3. Sets (unordered & unique data)

In [72]:
fake_names_1 = ['Sherry', 'Mary', 'Matthew', 'Danielle', 'Jeffrey', 'Lauren', 'Keith', 
                'Carlos', 'Monique', 'Laura', 'Jared', 'Valerie', 'Juan', 'Christopher', 
                'Erica', 'Dawn', 'Joshua', 'Brandon', 'Stephanie']

fake_names_2 = ['Andre', 'Anthony', 'Lauren', 'Douglas', 'Jonathan', 'Richard', 
                'Alyssa', 'Vincent', 'Travis', 'Clifford', 'Jerry', 'Justin',
                'Matthew', 'Jared', 'Erica']

fake_names_1.sort()
fake_names_2.sort()

# Find the overlapping names in above lists
import copy

overlapping_names = []
for elem in copy.deepcopy(fake_names_1):
  if elem in fake_names_2:
    fake_names_1.pop(fake_names_1.index(elem))
    overlapping_names.append(fake_names_2.pop(fake_names_2.index(elem)))

print(overlapping_names)

['Erica', 'Jared', 'Lauren', 'Matthew']

In [82]:
# Print number of "duplicated" names
for i in overlapping_names:
  index1 = fake_names_1.index(i)
  index2 = fake_names_2.index(i)
  print(f"Index of {i} in fake_name_1: {index1} and fake_name_2: {index2} ")

Index of Erica in fake_name_1: 14 and fake_name_2: 14
Index of Jared in fake_name_1: 10 and fake_name_2: 13
Index of Lauren in fake_name_1: 5 and fake_name_2: 2
Index of Matthew in fake_name_1: 2 and fake_name_2: 12

In [99]:
# Find and print the union of above lists
union = []

for i in overlapping_names:
  union.append(fake_names_1.index(i) + fake_names_2.index(i))
print(union)

for ele in range(len(union)):
  total += union[ele]

print('Total: {}'.format(total))

[28, 23, 7, 14]
Total: 86

In [112]:
# Find and print the difference between lists

difference = set(fake_names_1) | set(fake_names_2) - set(fake_names_1) & set(fake_names_2)

print(difference)

{'Justin', 'Jerry', 'Mary', 'Monique', 'Sherry', 'Clifford', 'Joshua', 'Andre', 'Brandon', 'Alyssa', 'Valerie', 'Laura', 'Anthony', 'Jeffrey', 'Dawn', 'Stephanie', 'Travis', 'Richard', 'Keith', 'Douglas', 'Vincent', 'Jonathan', 'Danielle', 'Carlos', 'Christopher', 'Juan'}